<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href={{ url_for('static', filename='/css/navbar.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='/css/table.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='/css/page.css') }}>
    <meta charset="UTF-8">
    <title>Tiendas</title>
</head>
<body>
    <input type="text" value="{{ res['username'] }}" id="nombre" hidden>
<div class="navBar">
        <a href="../home" class="navBarElement">U-Games <div id="nombreusuario"></div></a>
        <div class = "navBarLoginBar">
          
          <div class = "navBarLoginBar" id="navLogOut">
            <a href="../register" class="navBarElement">Registrarse</a>
            <a href="../login" class="navBarElement">Iniciar Sesión</a>
          </div>
        
          <div class = "navBarLoginBar" id="navLogIn" style="display: none;">
            <a class="navBarElement" id="cerrarsesion">Cerrar sesion</a>
          </div>
      
        </div>
</div>

<h1>
    JUEGOS
</h1>
<table>
    <tbody>
    {% for row in data %}
    <tr class="game">
        <td class="imgrow">
            <img src={{row.image_url}}>
        </td>
        <td class="namerow">
            {{row.name}}
        </td>
        <td>
            {{row.category}}
        </td>
        <td class="price">
            <input type="button" value=s/.{{row.price}} data-id="{{row.id}}" class="buyButton">
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
    {% with messages = get_flashed_messages() %}
    {% if messages[0] %}
    <div class="notification is-danger">
        <p style="color: red">{{ messages }}</p>
    </div>
    {% endif %}
    {% endwith %}
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script>
    buttonList = document.querySelectorAll('.buyButton');
    for (let i = 0; i < buttonList.length; i++){
        const buttonElem = buttonList[i];
        buttonElem.onclick = function(e){
            username = document.getElementById('nombreusuario').innerHTML;
            const buttonId = e.target.dataset['id'];
            console.log(username);
            const message = {'id':buttonId, 'name':username};
            $.post({
                url: '/games',
                type: 'post',
                contentType: 'application/json',
                success: function(data){console.log("Compra exitosa")},
                data: JSON.stringify(message)
            })
        }
    }
</script>

<script src={{ url_for('static', filename='/js/script.js') }}></script>

</body>
</html>