<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href={{ url_for('static', filename='/css/navbar.css') }}>
  <link rel="stylesheet" href={{ url_for('static', filename='/css/table.css') }}>
  <link rel="stylesheet" href={{ url_for('static', filename='/css/page.css') }}>
  <meta charset="UTF-8">
  <title>Inventario</title>
</head>
<body background="https://image.freepik.com/foto-gratis/fondo-futurista-abstracto-baja-poli-triangulos-negros-rejilla-dorada-luminosa-representacion-3d-minimalista-negro_308595-37.jpg">
  <input type="text" value="{{ res['username'] }}" id="nombre" hidden>
<div class="navBar">
    <a href="../home" class="navBarElement">U-Games <div id="nombreusuario"></div></a>
    <div class = "navBarLoginBar">
      
      <div class = "navBarLoginBar" id="navLogOut">
        <a href="../register" class="navBarElement">Registrarse</a>
        <a href="../login" class="navBarElement">Iniciar Sesión</a>
      </div>
    
      <div class = "navBarLoginBar" id="navLogIn" style="display: none;">
        <a class="navBarElement" id="cerrarsesion">Cerrar sesion</a>
      </div>
  
    </div>
</div>
<h1>
  INVENTARIO
</h1>
<table>
  <tbody>
  {% for row in data %}
  <tr class="game">
    <td class="imgrow">
      <img src={{row.image_url}}>
    </td>
    <td class="namerow">
      {{row.name}}
    </td>
    <td>
      {{row.category}}
    </td>
    <td class="price">
      <input type="button" value=Delete data-id="{{row.id}}"  class="deleteButton">
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script>
    buttonList = document.querySelectorAll('.deleteButton');
    for (let i = 0; i < buttonList.length; i++){
        const buttonElem = buttonList[i];
        buttonElem.onclick = function(e){
            username = document.getElementById('nombreusuario').innerHTML;
            const buttonId = e.target.dataset['id'];
            console.log(buttonId);
            const message = {'id':buttonId, 'name':username};
            $.post({
                url: '/inventory/username',
                type: 'delete',
                contentType: 'application/json',
                success: function(data){console.log("Juego borrado del inventario"); window.location.reload()},
                data: JSON.stringify(message)
            })
        }
    }
</script>

<script src={{ url_for('static', filename='/js/script.js') }}></script>

</body>
</html>