<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href={{ url_for('static', filename='/css/register.css') }}>
  <link rel="stylesheet" href={{ url_for('static', filename='/css/page.css') }}>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form action="/login" method="post">
  <div class="container">
    <h1>Login</h1>
    <hr>

    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" id="username" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" id="psw" required>

    <button type="submit" class="registerbtn">Log In</button>
  </div>

  <div class="container signin">
    <p>You don't have an account? <a href="../register">Register</a>.</p>
  </div>
</form>
</body>
</html>