<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href={{ url_for('static', filename='/css/navbar.css') }}>
  <link rel="stylesheet" href={{ url_for('static', filename='/css/page.css') }}>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body background="https://besthqwallpapers.com/Uploads/10-2-2020/121245/thumb2-black-texture-with-purple-neon-lines-black-abstract-background-purple-neon-lines-3d-black-background-3d-polygons-texture.jpg">

<input type="text" value="{{ res['username'] }}" id="nombre" hidden>
<div class="navBar">
  <a href="../home" class="navBarElement">U-Games</a>

  <div class = "navBarLoginBar" id="navLogOut">
    <a href="../register" class="navBarElement">Registrarse</a>
    <a href="../login" class="navBarElement">Iniciar Sesión</a>
  </div>

  <div class = "navBarLoginBar" id="navLogIn" style="display: none;">
    <a class="navBarElement" id="cerrarsesion">Cerrar sesion</a>
  </div>

</div>

<div class="profileDiv">
  <b class="username"><div id="nombreusuario"></div></b>
  <div>
    <img src="https://www.pasrc.org/sites/g/files/toruqf431/files/styles/freeform_750w/public/2021-03/blank-profile-picture-973460_1280.jpg?itok=QzRqRVu8" class="mainImage" style="width:300px;height:300px;">
  </div>
  <div class="invButton">
    <a href="" id="inventoryRef">Ver inventario</a>
  </div>
  <div class="fondos">
    <form action="/profile" method="post">
      <label for="monto"><b>Añadir fondos</b></label>
      {% with messages = get_flashed_messages() %}
      {% if messages[0] %}
      <div class="notification is-danger">
        <p style="color: green">{{ messages }}</p>
      </div>
      {% endif %}
      {% endwith %}
      <input type="number" placeholder="Escribir monto..." id="monto" name="monto" value="">
      <button type="submit">Añadir</button>
    </form>
</div>
  <script src={{ url_for('static', filename='/js/script.js') }}></div>
<script>
      document.getElementById("inventoryRef").setAttribute("href","/inventory/"+localStorage.getItem("usuarioinfo"));
    </script>
</body>
</html>
