<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href={{ url_for('static', filename='/css/register.css') }}>
  <link rel="stylesheet" href={{ url_for('static', filename='/css/page.css') }}>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form action="/register" method="post">
  <div class="container">
    <h1>Register</h1>
    <hr>

    {% with messages = get_flashed_messages() %}
    {% if messages[0] %}
        <div class="notification is-danger">
          <p style="color: red">{{ messages }}</p>
        </div>
    {% endif %}
    {% endwith %}

    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" id="username" required>


    
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" id="psw" required>



    <label for="psw-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
    <hr>

    <button type="submit" class="registerbtn">Register</button>
  </div>

  <div class="container signin">
    <p>Already have an account? <a href="../login">Sign in</a>.</p>
  </div>
</form>
</body>
</html>