<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tiendas</title>
</head>
<body>
<style>

 td {
        width: 150px;
        text-align: center;
        border: 1px solid black;
        padding: 5px;
      }
</style>
<h1>
    TIENDA
</h1>
<table>
    <thead>
    <tr>
        <th>Nombre de la tienda</th>
    </tr>
    </thead>
    <tbody>
    {% for row in data %}
    <tr>
        <td>{{row[0]}}</td>
        <form action="">
            <input type="button" value="Enter">
        </form>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>