 td {
        width: 150px;
        text-align: center;
        border: 1px solid black;
        padding: 5px;
        background-color: #4f4e4e;
        color: white;
      }

table{
  width: 75%;
  margin: auto;
  overflow: auto;
    background-color: #2a2a2a;
    color: white;
}

.buyButton{
    background-color: green;
    color: white;
}

.deleteButton{
    background-color: red;
    color: white;
}

.price{
    max-width: 40px;
}

.imgrow{
    max-width: 80px;
}

.namerow{
    max-width: 80px;
}

